/**
 * Base
 */
 @import "base/reset";
 @import "base/specifications";
 @import "base/grids";

 /**
  * Components
  */
 @import "components/navigation";
 @import "components/produkt-container";
 @import "components/picture-gallery";
 @import "components/overlay-box";
 @import "components/team";
 @import "components/impressum";

 
 
 /* Border Box Trick */
 /* padding ist in der Box Breite miteingerechnet*/
 html{
     box-sizing: border-box;
 }
 *, *:before, *:after{
     box-sizing: inherit;
 }
 /* Ende Border Box Trick*/
 
 
 html{
     font-size: $standardFontSize;
 }
 
 
 body{
     @include standardTextFont();
     line-height: 1.25rem;
 }
 
 
 .wrapper{
    display: grid;
    grid: [row1] "Header"   auto [row1-end]
          [row2] "Nav"      auto [row2-end]
          [row3] "Main"     auto [row3-end]
          [row4] "Footer"   auto [row4-end]
          / 100%;

    background-color: $standardBackgroundColor;
    margin-top: $basicHeight;
 
    .stickyHeader-wrapper{
        grid-area: 1 / 1 / 3 / 2;
        position: sticky;
        top: 0;
        z-index: 2;
    }
 
    header{
        height: $heightHeader;
        transition: height 1s ease-in-out;
        background-color: $standardBackgroundColor;
        padding-bottom: $basicHeight;

        img{
            width: 40%;
            transition: width 1s ease-in-out;
        }

        img.animate{
            width: 22%;
        }
    }

    header.animate{
        height: 5vw;
    }
 
    nav{
        background-color: $navBackgroundColor;
        @include navigationTextFont();
        padding: $basicHeight 0;
    }
 
    main{
        background-color: $standardBackgroundColor;
        grid-area: 3 / 1 / 4 / 2;
        padding: 2*$basicHeight $basicWidth;
        
        .page-item{
            margin-bottom: 25%;
        }

        .page-title{
            @include titleTextFont();
            margin-bottom: 2*$basicHeight;
        }

        .page-text{
            @include standardTextFont();
            margin-bottom: $basicHeight;
        }
    }

    .map{
        iframe{
            max-width: 100%;
        }
    }
 
    footer{
        padding: 2*$basicHeight 0;
        grid-area: 4 / 1 / 5 / 2;

        .footer-wrapper{
            display: flex;
            flex-flow: column nowrap;
            align-items: center;
        }

        .footer-banner{
            display: flex;
            flex-flow: row nowrap;
            justify-content: center;
            align-items: center;
            background-color: $footerBackgroundColor;
            width: 100%;
            padding: $basicHeight $basicWidth;
        }

        .address{
            @include footerTextFont();
            margin-right: 30px;
        }

        img {
            width: 30%;
        };


        .footer-legal{
            padding: $basicHeight $basicWidth;
            text-align: center;

            li:not(:last-of-type) {
                padding-bottom: $basicHeight;
            }

            a {
                @include footerLegalFont();
                text-decoration: none;
                padding: 0.5*$basicHeight 0.5*$basicWidth;
            }
        }
    }
 
    .side-space--left, .side-space--right{
        display: none;
    }
 }

 #map{
    height: 400px;
    max-width: 100%;
}
 
 
 /* ************************************************************* */
 /* *********** ab hier für mobile querformat ******************* */
 @media screen and (min-width: $breakpoint-medium) {    // wenn Bildschirm grösser als, dann...
    .wrapper{
        header{
            height: 5.7vw;
            padding-bottom: 2*$basicHeight;

            img{
                width: 27%;
                transition: width 1s ease-in-out;
            }

            img.animate{
                width: 18%;
            }
        }

        header.animate{
            height: 4vw;
        }

        main{
            .page-item{
                margin-bottom: 10%;
            }
        }
    }
 }
 
 
 /* *************************************************** */
 /* *********** ab hier für desktop ******************* */
 @media screen and (min-width: $breakpoint-large) {    // wenn Bildschirm grösser als, dann...
 
    .wrapper{
        display: grid;
        grid-template: [row1] "SideSpace-Left Header SideSpace-Right"  auto
                       [row2] "SideSpace-Left Nav    SideSpace-Right"  auto
                       [row3] "SideSpace-Left Main   SideSpace-Right"  auto
                       [row4] "SideSpace-Left Footer SideSpace-Right"  auto
                        / auto 90% auto;
                        
        margin-top: $basicHeight;

        .stickyHeader-wrapper{
            grid-area: 1 / 2 / 3 / 3;
            margin-bottom: 4*$basicHeight;
        }

        header{
            height: 5.7vw;
            transition: height 1s ease-in-out;

            img{
                width: 30%;
                transition: width 1s ease-in-out;
            }
    
            img.animate{
                width: 22%;
            }
        }

        header.animate{
            height: 4.1vw;
        }


        nav{
            font-size: 2.1vw;
        }

        .side-space--left{
        background-color: #FFFFFF;
        grid-area: 1 / 1 / 5 / 2;
        display: unset;
        }

        .side-space--right{
        background-color: #FFFFFF;
        grid-area: 1 / 3 / 5 / 4;
        display: unset;
        }

        main{
            grid-area: 3 / 2 / 4 / 3;
            padding: 3*$basicHeight 2*$basicWidth;

            .page-title{
                font-size: 3vw;
                margin-bottom: 4*$basicHeight;
            }

            .page-item{
                margin-bottom: 15%;
            }
        }


        footer{
            grid-area: 4 / 2 / 5 / 3;
    
            img {
                width: 25%;
            };
    
            .footer-legal{
                padding: 2*$basicHeight $basicWidth $basicHeight $basicWidth;
                text-align: center;
    
                ul {
                    display: flex;
                    flex-flow: row nowrap;
                }

                li:last-of-type{
                    padding-left: 2*$basicWidth;
                }

                li:not(:last-of-type) {
                    padding-bottom: 0;
                }

                a {
                    text-decoration: none;
                }

                a:hover{
                    border-bottom: 1px black solid;
                }
            }
        }

    }
 }
 
 
 /* ********************************************************************* */
 /* *********** ab hier für desktop (maximale Breite) ******************* */
 @media screen and (min-width: $maxWidth) {    // wenn Bildschirm die maximale Breite erreicht hat
    .wrapper{
        display: grid;
        grid-template: [row1] "SideSpace-Left Header SideSpace-Right"  auto
                       [row2] "SideSpace-Left Nav    SideSpace-Right"  auto
                       [row3] "SideSpace-Left Main   SideSpace-Right"  auto
                       [row4] "SideSpace-Left Footer SideSpace-Right"  auto
                       / auto $maxWidth auto;

        header{
            height: 100px;

            img{
                width: 30%;
                transition: width 1s ease-in-out;
            }
    
            img.animate{
                width: 22%;
            }
        }

        header.animate{
            height: 75px;
        }

        nav{
           
        }

        main{
            padding: 4*$basicHeight 2*$basicWidth;
        }

        footer{
            img {
                width: 20%;
            };
        }
    }
 }