<footer>
  
  <div class="footer-wrapper">


      <div class="footer-banner">

        <div class="address">
          <p>mitLinXlernen AG</p>
          <p>Station Versam 7</p>
          <p>CH - 7104 Versam</p>
          <a class="contact-link" href="/seite/kontakt.html">Kontakt</a>
        </div>

        <img src="/assets/images/Logo_trans_allBlack.svg" alt="mitLinXlernen AG">
  
      </div>


      <div class="footer-legal"> 
        <ul>
          <li>
            <a href="/seite/impressum.html">Impressum</a>
          </li>
          <li>
            <a href="/seite/datenschutz.html">Nutzung und Datenschutzerklärung</a>
          </li>
        </ul>
      </div>
  
  
   
  
  
  </div>
  
  

</footer>