.produkt-item{
    display: flex;
    flex-flow: column nowrap;
    margin-bottom: 25%;
}

.produkt-item-text.animate-in-viewport, .produkt-item-text__right.animate-in-viewport{
    margin-bottom: $basicHeight;
    opacity: 0;
    transition: opacity 1s ease-in-out;

    .produkt-item-text-title{
        @include titleTextFont();
        padding-bottom: $basicHeight;
        border-bottom: 3px solid $standardTextColor;
        margin-bottom: $basicHeight;
    }
}

.produkt-item-text.animate-in-viewport.visible, .produkt-item-text__right.animate-in-viewport.visible {
    opacity: 1;
}

.produkt-item-image, .produkt-item-image__right{
    position: relative;
    
    display: flex;
    flex-flow: row nowrap;
    justify-content: end;

    img.produkt-item-image__big{
        border-radius: 8px;
        max-width: 60%;
    }

    img.produkt-item-image__small{
        position: absolute;
        top: 30%;
        right: 55%;
        border-radius: 8px;
        max-width: 40%;
    }

    img.produkt-item-image__small.animate-in-viewport{
        opacity: 0;
        top: 0%;
        right: 0%;
        max-width: 20%;
        transition: all 1s ease-in-out;
    }

    img.produkt-item-image__small.animate-in-viewport.visible{
        opacity: 1;
        top: 30%;
        right: 55%;
        max-width: 40%;
    }
}

.produkt-item-image__right{
    order: 0;
    justify-content: start;

    img.produkt-item-image__small{
        position: absolute;
        right: 5%;
    }

    img.produkt-item-image__small.animate-in-viewport{
        opacity: 0;
        top: 0%;
        left: 0%;
        max-width: 20%;
        transition: all 1s ease-in-out;
    }

    img.produkt-item-image__small.animate-in-viewport.visible{
        opacity: 1;
        top: 30%;
        left: 55%;
        max-width: 40%;
    }
}


/* ************************************************************* */
/* *********** ab hier für mobile querformat ******************* */
@media screen and (min-width: $breakpoint-medium) {    // wenn Bildschirm grösser als, dann...
    .produkt-item{
        margin-bottom: 15%;
    }

    .produkt-item-text, .produkt-item-text__right{
        .produkt-item-text-title{
            // font-size: x-large;
            // font-weight: 900;
        }
    }

    .produkt-item-image, .produkt-item-image__right{
        justify-content: center;

        img.produkt-item-image__big{
            max-width: 50%;
        }

        img.produkt-item-image__small{
            top: 30%;
            right: 60%;
            max-width: 25%;
        }

        img.produkt-item-image__small.animate-in-viewport{
            opacity: 0;
            top: 0%;
            right: 30%;
            max-width: 10%;
            transition: all 1s ease-in-out;
        }
    
        img.produkt-item-image__small.animate-in-viewport.visible{
            opacity: 1;
            top: 38%;
            right: 60%;
            max-width: 25%;
        }
    }

    .produkt-item-image__right{

        img.produkt-item-image__small{
            left: 58%;
        }

        img.produkt-item-image__small.animate-in-viewport{
            opacity: 0;
            top: 0%;
            left: 30%;
            max-width: 10%;
            transition: all 1s ease-in-out;
        }
    
        img.produkt-item-image__small.animate-in-viewport.visible{
            opacity: 1;
            top: 38%;
            left: 58%;
            max-width: 25%;
        }
    }
}


/* *************************************************** */
/* *********** ab hier für desktop ******************* */
@media screen and (min-width: $breakpoint-large) {    // wenn Bildschirm grösser als, dann...
    .produkt-item{
        display: flex;
        flex-flow: row nowrap;
        align-items: flex-start;
        margin-bottom: 15%;
    }

    .produkt-item-text.animate-in-viewport, .produkt-item-text__right.animate-in-viewport{
        flex: 1 1 50%;
        opacity: 0;
        transition: opacity 1s ease-in-out 0.2s;

        .produkt-item-text-title{
            font-size: 3vw;
            line-height: 2.5vw;
            padding-bottom: 2*$basicHeight;
        }       
    }

    .produkt-item-text.animate-in-viewport.visible, .produkt-item-text__right.animate-in-viewport.visible {
        opacity: 1;
    }

    .produkt-item-text__right{
        order: 1;
    }

    .produkt-item-image, .produkt-item-image__right{
        flex: 1 1 50%;
        position: relative;
        
        display: flex;
        flex-flow: column;
        align-items: end;

        img.produkt-item-image__big{
            max-width: 65%;
        }

        img.produkt-item-image__small{
            position: absolute;
            top: 30%;
            right: 55%;
            max-width: 42%;
        }

        img.produkt-item-image__small.animate-in-viewport{
            opacity: 0;
            top: 0%;
            right: 0%;
            max-width: 20%;
            transition: all 1s ease-in-out;
        }

        img.produkt-item-image__small.animate-in-viewport.visible{
            opacity: 1;
            top: 30%;
            right: 55%;
            max-width: 42%;
        }
    }

    .produkt-item-image__right{
        order: 0;
        align-items: start;

        img.produkt-item-image__small{
            position: absolute;
            right: 5%;
        }

        img.produkt-item-image__small.animate-in-viewport{
            opacity: 0;
            top: 0%;
            left: 0%;
            max-width: 20%;
            transition: all 1s ease-in-out;
        }

        img.produkt-item-image__small.animate-in-viewport.visible{
            opacity: 1;
            top: 30%;
            left: 53%;
            max-width: 42%;
        }
    }
}


/* *************************************************** */
/* *********** ab hier für desktop ******************* */
@media screen and (min-width: $maxWidth) {    // wenn Bildschirm die maximale Breite erreicht hat
    .produkt-item{
        margin-bottom: 250px;
    }

    .produkt-item-text.animate-in-viewport, .produkt-item-text__right.animate-in-viewport{

        .produkt-item-text-title{
            font-size: 2.8vw;
        }
    }

    .produkt-item-image, .produkt-item-image__right{

        img.produkt-item-image__big{
            max-width: 65%;
        }

        img.produkt-item-image__small{
            top: 100px;
            right: 400px;
            max-width: 42%;
        }
    }

    .produkt-item-image__right{

        img.produkt-item-image__small{
            right: 60px;
        }
    }
}


    